@charset "UTF-8";

/*---------------------------------------------
	エントリ一覧ページに使ったCSS
---------------------------------------------*/
.thread-entrylistbox {
	padding: 15px;
}

.thread-titleinfo {
	line-height: 3.5;
	text-indent: 10px;
	background-color: #9370db;
	color:white;
	font-weight:bold;
	border-radius: 5px;
}

.thread-entryinfo {
	
}

.thread-entryinfo dt {
	text-indent:5px;
	background-color:#d8bfd8;
	border-radius: 5px;
}

.thread-entryinfo dd {
	padding-left:10px;
}

/*以下は投稿フォーム関係*/
.thread-entryform {
	margin:10px;
	background-color: #b0c4de;
	padding:35px;
	border:solid thin #a9a9a9;
	border-radius: 15px;
}

.thread-entryform p {
	font-weight: bold;
}
