/* 
    Document   : threadlist_page
    Created on : 2013/11/27, 16:32:53
    Author     : SDP5008
    Description:
        Purpose of the stylesheet follows.
*/
@charset "UTF-8";
.status_disp {
  width: 230px;
  margin: 15px;
  padding: 10px;
  border: double 6px #FFF;
  border-radius: 10px;
  color: #FFF;
  background-color: #666;
}
.status_disp dt {
  font-family: 'メイリオ','Arial', 'Tahoma', sans-serif;
}

.status_disp dd {
  text-indent: 15px;
}
