/* 
    Document   : threadlist_page
    Created on : 2013/11/27, 16:32:53
    Author     : SDP5008
    Description:
        Purpose of the stylesheet follows.
*/
@charset "UTF-8";
.thread_list th {
  font-family: 'メイリオ','Arial', 'Tahoma', sans-serif;
}

.thread_list th, .thread_list td {
  text-align: left;
}

input[type="button"] {
  border:solid 1px #595959;
  border-radius: 5px;
  font-family: 'メイリオ','Arial', 'Tahoma', sans-serif;
  width: 350px;
  height: 35px;
  margin-bottom: 10px;
}
  
input[type="button"]:hover {
  background-color: #595959;
  color: #FFF;
}
