/* 
    Document   : threadlist_page
    Created on : 2013/11/27, 16:32:53
    Author     : SDP5008
    Description:
        Purpose of the stylesheet follows.
*/
@charset "UTF-8";
/*---------------------------------------
  スレッド一覧ページ用
  ※Searchページにスレッド一覧を表示したので
    Search.cssみたいなのを作ってそこにまとめる？かも。
---------------------------------------*/
.thread_list th {
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
}

.thread_list th, .thread_list td {
  text-align: left;
}

