@charset "UTF-8";
/*---------------------------------------
　共通で使いそうなもの
---------------------------------------*/
h2 {
  margin:1px;
  background-color:white;
  border-left: solid 10px #CCC;
  border-bottom: solid 1px #CCC; 
  text-indent: 5px; 
  font-size: 1.6em;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
}

/*---------- ロード中の画像 ----------*/
.loading {
  background-color: #FFF;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
  padding: 5px;
}

/*---------- さらに表示 のボタン ----------*/
input[name="more"] {
  border:solid 1px #595959;
  border-radius: 5px;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
  width: 350px;
  height: 35px;
  margin-bottom: 10px;
}
  
input[type="more"]:hover {
  background-color: #595959;
  color: #FFF;
}
