@charset "UTF-8";
/*---------------------------------------
　トップページ用
---------------------------------------*/
h2 {
  margin:1px;
  background-color:white;
  border-left: solid 10px #CCC;
  border-bottom: solid 1px #CCC; 
  text-indent: 5px; 
  font-size: 1.6em;
  font-family: 'メイリオ','Arial', 'Tahoma', sans-serif;
}
 
.sub_menu {
   overflow: hidden;
   margin: 15px;
   padding: 15px;
   text-indent: 10px;
   background-image: -webkit-linear-gradient(top, #e6e6fa, #d3d3e6);
   border: solid 1px #e6e6fa;
   border-radius: 5px;
   background-color: #e6e6fa;
 }

.sub_menu p a {
  font-family: 'メイリオ','Arial', 'Tahoma', sans-serif;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #77AEFF;
  color: white;
  background-color: #77AEFF;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.sub_menu p a:link {
  color: white;    
}

.sub_menu p a:visited {
  color: white;
}

.sub_menu p a:hover {
  border: solid 1px #7777FF;
  background-color: #7777FF;
  color: white;
}

.sub_menu dl {
  margin-bottom: 40px;
}

.sub_menu dd {
  /*float: left;*/
  margin-left: 20px;/*text-indent代わり*/
}

.clear_both {
  clear:both;
}